# R renv files
renv/library/
renv/settings.json

# Large data files
data/
results/
logs/

# Temporary or OS files
*.Rhistory
*.RData
*.rds
.DS_Store
__pycache__/
*.pyc

# Conda
*.conda
# 忽略 lock 文件，但保留 renv.lock
*.lock
!renv.lock
.env
